<div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
    

                    <form ngNoForm [formGroup]="formulari" (ngSubmit)="crearHotel()" class="col-md-8 formulario-hotel">
                       
                        

                        <div class="form-group ">
                            <div class="col-xs-12">
                                <label>codigo del Hotel</label>
                                <input formControlName="code" class="form-control" type="text" required="" placeholder="codigo del hotel">
                            </div>
                        </div>

                        <div class="form-group ">
                            <div class="col-xs-12">
                                <label>Dirección</label>
                                <input formControlName="address" class="form-control" type="text" required="" placeholder="direccion del hotel">
                            </div>
                        </div>


                            

                            <!--
                            <div class="form-group">
                                <label>TeleFono</label>
                                <input type="text" class="form-control"type="tel" value="1-(555)-555-5555">
                            </div>

                            <div class="form-group ">
                                <label>Imagen del hotel</label>
                                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                    
                                    <span class="input-group-addon btn btn-secondary btn-file imagen-hotel"> 
                                        <span class="fileinput-new">subir imagen del Hotel</span>
                                    <input  type="file" name="...">
                                    </span>
                                     </div>
                            </div>

                            -->
                            
                                <button type="submit" class="btn btn-info waves-effect waves-light m-t-10">Enviar</button>
                                            
                    </form>
    
                </div>
            </div>
        </div>
</div>